:root{
    --main-clr: #424761;
    --star-clr: #fbeb00;
    --red-clr: #ff3838;
    --dark-gray-clr: #777780;
    --gray-clr: #8b8c97;
    --black-clr: #141414;
    --margin: 20px;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.header .blog-head{
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    height: 4em;
    margin: 20px auto 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.header .blog-head #back{
    font-size: 4em;
    opacity: 0.4;
    color: transparent;      /* Make the font color transparent */
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);  /* Outline thickness and color */
    text-stroke: 1px rgba(0, 0, 0, 0.5);  /* Support for non-WebKit browsers (if supported) */
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -20%);
    white-space: nowrap;
    

}
.header .blog-head #front{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* width: 100%; */
    font-weight: 400;
    color: var(--red-clr);
}
.header .blog-head #front::after,
.header .blog-head #front::before{
    content: '';
    display: block;
    width: 1em;
    height: 1px;
    background-color: var(--red-clr);
    margin: 0 5px;
}
.header .h1{
    font-weight: 600;
    text-transform: capitalize;
}
.card{
    margin: 5px;
    padding: 0;
    /* width: 20rem; */
    border-radius: 15px;
}
.card .header .img img{
    width: 100%;
    height: 18rem;
    border-radius: 15px 15px 0 0;
}
.card .header{
    position: relative;
}
.card .header .label{
    position: absolute;
    transform: translate(2rem, -16rem);
    color: whitesmoke;
    background-color: var(--red-clr);
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    /* width: 0;
    height: 0; */
    /* opacity: 0; */
    transition: 0.3s;
}
/* .card:hover .header .label{
    opacity: 1;
    width: auto;
    height: auto;
} */
.card .content{
    padding: 20px;
}
.card .content .info{
    display: flex;
    justify-content: flex-start;
}
.card .content .info{
    color: var(--dark-gray-clr);
    opacity: 0.8;
}
.card .content .info i{
    color: var(--red-clr);
}
.card .content .info .by{
    margin: 0 20px 10px 0;
}
.card .content .desc{
    margin-bottom: 0;
}
.card .footer{
    padding: 20px;
    margin-bottom: 10px;
    
}
.card .footer a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-weight: 500; 
}
.card .footer a i{
    transition: 0.3s;
}
.card .footer a:hover i{
    transform: translateX(5px);
}
.card .card-text{
    color: var(--dark-gray-clr);
}