@media (max-width:768px) {
  #real-estate-section .img-div img{
    height: 33em;
    border-radius: 15px;
    position: relative;
  }
  #real-estate-section .img-div .experience{
    transform: translate(17em,-20em);
  }
}
/* @media (max-width:920px) {
  #real-estate-section .img-div img{
    height: 50em;
    width: 25em;
  }    
} */