/* Small */
@media (max-width: 810px) {
  .footer-content{
    transform: translateY(6.5em);
    z-index: -1000;
  } 
  .foot-head{
    z-index: 1000;
  }
}
/* Large */
@media (min-width: 1200px) {
   
}