:root{
    --main-clr: #3e66f3;
    --secondary-clr: #eff1f9;
    --back-clr: #f5f5f5;
    --third-clr:#fb6285;
    --light-blue: #5d83a9;
    --dark-color: #151515;
    --star-clr: #fbeb00;
    --red-clr: #ff3838;
    --dark-gray-clr: #777780;
    --gray-clr: #8d8b8b;
    --black-clr: #141414;
    --margin: 20px;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection{
    background-color: var(--main-clr);
    color: white;
}
body{
    background-color: white;
    font-family: "Rubik", sans-serif;
}
#plans {
    margin: 20px;
}
#plans .head:first-child{
    text-align: center;
    margin: 20px;
    text-transform: capitalize;
}
#plans .p-card{
    background-color: var(--secondary-clr);
    border-radius: 20px;
    margin:  10px;
    width: 22em;
    /* min-width: 25%; */
    margin-top: 55px;
    position: relative;
    padding: 20px;
}
#plans .p-card .pricing{
    background-color: var(--main-clr);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 9rem;
    height: 9rem;
    /* margin: 10px auto; */
    position: absolute;
    transform: translate(5.5em,-5em);
    
    border: 6px solid var(--secondary-clr);
}
#plans .p-card .pricing::before{
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    /* background-color: #ff3838; */
    border-radius:100%;
    left: -24%;
    top: 22%;
    /* border-right: 5px solid var(--secondary-clr); */
    border-bottom: 5px solid var(--secondary-clr);
    rotate: -24deg;
    /* border-left: 5px solid var(--secondary-clr); */
}
#plans .p-card .pricing::after{
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    height: 2em;
    /* background-color: #ff3838; */
    border-radius:100%;
    left: 100%;
    top: 23%;
    /* border-right: 5px solid var(--secondary-clr); */
    border-bottom: 5px solid var(--secondary-clr);
    rotate: 30deg;
    /* border-left: 5px solid var(--secondary-clr); */
}
#plans .p-card .content{
    margin: 80px auto 20px;
}
#plans .p-card .pricing .h4{
    margin: 0;
}
#plans .p-card .pricing .time{
    font-size: 0.7rem;
    margin: 0;
}
#plans .p-card .content ul{
    list-style: none;
    text-align: left;
    color: var(--dark-gray-clr);
}
#plans .p-card .content ul::before{
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-color: var(--gray-clr);
    opacity: 0.4;
    margin: 20px auto 10px;
}
#plans .p-card a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
    background-color: var(--main-clr);
    transition: 0.3s;
}
#plans .p-card a:hover{
    background-color: #3e65f3c7;
}
#plans .p-card .feature{
    background-color: var(--main-clr);
    color: white;
    width: 30%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
}